@page
@model Frontend1.Pages.Skills.Add

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form>
    <div class="form-group">
        <label for="name">Title</label>
        <input id="name" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Skill</button>
</form>

    <script src="~/js/skills/add-skill.js"></script>