/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1F;
    flex: 1;
}


header, footer {
    background-color: #343A40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #343A40;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skillLabels {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

#jobLabels {
    width: 100%;
}

#jobLabels li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}

#jobLabels strong {
    font-size: 1.5em;
    color: #1B4965;
}

#jobLabels span {
    display: block;
    margin-top: 10px;
}

#jobLabels .salary {
    color: #1B4965;
    font-weight: bold;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-default {
    background-color: #1B4965;
    color: #fff;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label {
    margin-right: 20px;
    display: block;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.search-box input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 10px 15px;
    background-color: #1B4965;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #343A40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsiveness */
@media (min-width: 600px) {
    #skillLabels {
        width: 25%;
    }

    #jobLabels {
        width: 70%;
    }
}

@media (max-width: 599px) {
    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
        margin: 10px 0 0 0;
    }
}

