html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a:hover {
  text-decoration: underline;
}

html {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  font-family: "KG Blank Space Solid", sans-serif;
}

/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #CAE9FF;
}

/* Styling for the login container */
.login-container {
  background-color: #ffffff;
  border: 2px solid #1B4965;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  width: 350px;
  margin: 0 auto;
}

/* General styling for text inputs */
input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1B4965;
  border-radius: 5px;
  color: #343A40;
}

/* Styling for the login button */
button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #343A40;
  color: #CAE9FF;
  cursor: pointer;
}

button:hover {
  background-color: #1B4965;
}

/* Links styling */
a {
  color: #1B4965;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #343A40;
}

/* Styling for show password link */
.show-password {
  float: right;
  font-size: small;
  color: #343A40;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header, footer {
  background-color: #343A40;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}


footer a {
  color: #000;
}

.navbar-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdown-menu {
  right: 0;  
  left: auto;  
}

/* Register Styles */
.register-container {
  background-color: #ffffff;
  border: 2px solid #1B4965;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  width: 350px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.links a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* Index Styles */
.header {
  background-image: url('images/background.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.title-box {
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  border-radius: 10px;
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff; /* White color for better visibility */
}

p {
  font-size: 1.2em;
  color: #ffffff; /* White color for better visibility */
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
}

.nav-link {
  color: white;
  padding: 15px 30px;
  margin: 0 10px; /* Space between buttons */
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #3587A4; /* Darker shade on hover */
}

.nav-link i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 24px;
}


.navigation .nav-link:nth-child(1) {
  background-color: #62B6CB; /* Light blue */
}

.navigation .nav-link:nth-child(2) {
  background-color: #1B4965; /* Dark blue */
}

.navigation .nav-link:nth-child(3) {
  background-color: #CAE9FF; /* Lightest blue */
}



