@page
@model Frontend1.Pages.About_Us

@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/jobs.css">
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    
  
</div>