@page
@model IndexModel
@{
    ViewData["Title"] = "~/Pages/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manx Technology Recruitment</title>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="logo">
                <h1>Manx Technology Recruitment</h1>
            </div>
        </nav>
    </header>

    <main>
        <div class="title-box">
            <h1>Transform lives and businesses through a tailored recruitment experience.</h1>
            <div class="button-group">
                <a href="/About Us" class="btn btn-primary"><i class="fas fa-bell"></i> Why Us?</a>
                <a href="/Jobs" class="btn btn-primary"><i class="fas fa-briefcase"></i> Jobs</a>
                <a href="/IOM" class="btn btn-primary"><i class="fas fa-home"></i> Why the Island?</a>
            </div>
        </div>
    </main>
    
</div>

</body>
</html>