@page
@model Frontend1.Pages.Jobs
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Skill Checkboxes</title>
</head>
<body onload="on_Load()">
    <h1>Skill Filter</h1>

    <div id="skillLabels">

    </div>

        <div>
            <input type="hidden" id="SkillIds" name="SkillIds" value="" />
            <button class="btn btn-default" onclick="submitForm()">Search</button>
        </div>

    <div id="jobLabels">

    </div>

    <script src="~/js/jobs.js"></script>
</body>
</html>