@page
@model IndexModel
@{
ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<div class="login-container text-center">
    <!-- Success message hidden by default -->
    <div id="loginSuccess" style="display:none;" class="alert alert-success">
        Successfully logged in!
    </div>
    <h1 class="display-4">Login</h1>
        <form>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>

        <div class="input-group">
                <label>Captcha:</label>
                @{
                    Random rnd = new Random();
                    int randomNum = rnd.Next(1, 11);
                    string imageSource = "~/images/captcha/" + @randomNum + ".png";
                    <img src="@Url.Content(imageSource)" width="300" height="150" />

                    <input type="text" id="@randomNum" name="captcha" placeholder="Enter the text shown">
                }
        </div>

        <button type="submit">Login</button>
        <div class="links">
            <a href="#">Forgot your password?</a>
            <p>Not a member? <a href="/Register">Register!</a></p>
        </div>
    </form>
</div>
<script src="js/login.js"></script>
</body>
</html>

