@page
@model IndexModel
@{
ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/jobs.css">
</head>
<body>
<div class="register-container text-center">
    <h1 class="display-4">Register</h1>
    <form>
        <div class="input-group">
            <label for="username">Username:  (At least 6 characters)</label>
            <input type="text" id="username" name="username" placeholder="Choose a username">
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="input-group">
            <button type="button" onclick="randomPassword()">Generate Random Password</button>
            </div>
        <div class="input-group">
            <label for="password1">Password:</label>
            <input type="password" id="password1" name="password" placeholder="Create a password">
        </div>

            <div class="strength">
                <div class="power-container">
                    <div id="power-point"></div>
                </div>
            </div>

                <ul class="passwordRequirements red" id="Reqs">
                    <li class="">
                        Password Requires:
                    </li>
                    <li id="Twelve">
                        12 Characters
                    </li>
                    <li id="UC">
                        Uppercase Character
                    </li>
                    <li id="LC">
                        Lowercase Character
                    </li>
                    <li id="Num">
                        Number
                    </li>
                    <li id="SC">
                        Special Character
                    </li>
                </ul>

            <div class="input-group">
            <label for="password2">Confirm Password:</label>
            <input type="password" id="password2" placeholder="Confirm your password">
        </div>


            <div class="input-group">
                <label>Captcha:</label>
                @{
                    Random rnd = new Random();
                    int randomNum = rnd.Next(1, 11);
                    string imageSource = "~/images/captcha/" + @randomNum + ".png";
                    <img src="@Url.Content(imageSource)" width="300" height="150" />

                    <input type="text" id="@randomNum" name="captcha" placeholder="Enter the text shown">
                }
            </div>

        <button type="submit">Register</button>
        <div class="links">
            <a href="/login">Already a member? Log In</a>
        </div>
    </form>
    <script src="/js/register.js"></script>
</div>
</body>
</html>
