@page
@model Frontend1.Pages.admin_dashboard

@{
    Layout = null;
}

<!DOCTYPE html>

<h1>Admin Dashboard</h1>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-page="/Admin/Company/Index">Manage Company Listings</a>
    <a class="list-group-item list-group-item-action" asp-page="/Admin/Jobs/Index">Manage Jobs</a>
    <a class="list-group-item list-group-item-action" asp-page="/Admin/Skills/Index">Manage Skills</a>
</div>