@page
@model Frontend1.Pages.Admin.Jobs.Index
@{
Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Jobs</title>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body class="admin-jobs-page-body">
<div class="admin-jobs-page container mt-5">
    <main>
        <h1>Manage Jobs</h1>
        <div class="d-flex justify-content-end mb-3">
            <a class="btn btn-primary" href="/Admin/Jobs/Add">Add Job</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Schedule</th>
                <th>Location</th>
                <th>Post Date</th>
                <th>Salary</th>
                <th>Deadline</th>
                <th>Desired Skills</th>
                <th>Industry</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="jobs-list">
            </tbody>
        </table>
    </main>
</div>

<script src="~/js/admin.js"></script>
<script src="~/js/jobs/index-job.js"></script>
</body>
</html>
